<div class="ex1">
  <h4>Carrito de compras</h4>
  <table id="customers">
    <tr>
    <th>Producto</th>
    <th>precio</th>
    <th>cantidad</th>
    <th></th>
    <th></th>
    </tr>
    <tr *ngFor="let producto of carrito; let i=index">
    <td>{{producto.nombre}}</td>
    <td>{{producto.precio}}</td>
    <td>{{producto.cantidad}}</td>
    <td><button mat-icon-button matTooltip="Editar cantidad" (click)="openDialog(producto, i)"><mat-icon>edit</mat-icon></button></td>
    <td><button mat-icon-button matTooltip="Eliminar producto" (click)="eliminarProducto(i)"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </table>
  <br>
  <br>
  <button mat-raised-button color="primary" (click)="realizarCompra()" >Realizar compra</button>
  <br>
</div>
