<div class="ex1">
  <br>
  Ordenar productos
  <br>
  <br>
  <app-ordenar [productos]="productos"></app-ordenar>
</div>

<div *ngIf="myForm.value.hijosFlag">
  <form [formGroup]="filtroNombreForm">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="nombre" placeholder="Nombre del producto">
    </mat-form-field>
  </form>
</div>
<div *ngFor="let producto of productos">
  <div *ngIf="producto.filtro">
    <app-producto [producto]="producto"></app-producto>
  </div>
</div>
<br>
<br>
