<form [formGroup]="ordenarForm">
  <div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <div fxFlex>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="disponibilidad" placeholder="Disponibilidad">
              <mat-option *ngFor="let disponibilidad of disponibilidadList" [value]="disponibilidad">{{disponibilidad}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="precio" placeholder="Precio">
              <mat-option *ngFor="let precio of precioList" [value]="precio">{{precio}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="cantidad" placeholder="Cantidad">
              <mat-option *ngFor="let cantidad of cantidadList" [value]="cantidad">{{cantidad}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
</form>


<div *ngIf="myForm.value.hijosFlag">
  <form [formGroup]="filtroNombreForm">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="nombre" placeholder="Nombre del producto">
    </mat-form-field>
  </form>
</div>
<div *ngFor="let producto of productos">
  <div *ngIf="producto.filtro">
    <app-producto [producto]="producto"></app-producto>
  </div>
</div>
<br>
<br>
