<mat-toolbar style="background-color: rgb(255, 184, 77);" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand" >
        El Baratón
        <br>
    </div>
    <br><br>
    <span class="nav-spacer"></span>
    <button type="button" mat-icon-button matTooltip="Carrito de compras">
        <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>

<div id="sidebar">
  <div class="ex1">
    <br>
    Categorias
    <br>
    <br>
    <app-categoria [categorias]="categorias" [filtroNombreForm]="filtroNombreForm" [myForm]="myForm"></app-categoria>
  </div>
  <div class="ex1">
    <br>
    Filtrar productos
    <br>
    <br>
    <app-filtros [productos]="productos" [filtroNombreForm]="filtroNombreForm" [filtrosForm]="filtrosForm" [filtroFlag]="filtroFlag" [myForm]="myForm"></app-filtros>
  </div>

</div>
