<form [formGroup]="ordenarForm">
  <div fxLayout="column" fxFlex fxLayoutGap="20px">
      <div fxFlex>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="disponibilidad" placeholder="Disponibilidad">
              <mat-option *ngFor="let disponibilidad of disponibilidadList" [value]="disponibilidad">{{disponibilidad}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="precio" placeholder="Precio">
              <mat-option *ngFor="let precio of precioList" [value]="precio">{{precio}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="example-full-width">
          <mat-select formControlName="cantidad" placeholder="Cantidad">
              <mat-option *ngFor="let cantidad of cantidadList" [value]="cantidad">{{cantidad}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
</form>
